@media (min-width: 400px) and (min-height: 400px) {
    * {
        margin: 0;
    }

    #reg {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        text-align: center;
    }

    #form-reg {
        border: 1px solid rgba(177, 196, 166, 0.774);
        width: 280px;
    }

    #text-reg {
        padding-bottom: 25px;
    }

    #field-login, .filed-password, #url-reg, #btn-auth,
    #field-first_name, #field-last_name, #filed-password-confirm {
        padding-bottom: 18px;
    }
}